@model MeninoDev.Entidades.Post

@{
    ViewData["Title"] = "Novo";
}

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Form", "Post", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="row">
                <div class="col-auto mr-auto">
                    @Html.ActionLink("Voltar", "Index", "Post", null, new { @class = "btn btn-primary btn-large" })
                </div>
                <div class="col-auto">
                    <input type="submit" value="Adicionar" class="btn btn-primary" />
                </div>
            </div>

            <hr />

            <div class="form-group row">
                <label class="col-sm-1 col-form-label"> @Html.DisplayNameFor(model => model.Title) </label>
                <div class="col-sm-11">
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", @name = "title", @id = "title", @placeholder = "Título", @type = "text" } })
                    <small>
                        @Html.ValidationMessageFor(model => model.Title, null, new { @class = "text-danger" })
                    </small>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-1 col-form-label"> @Html.DisplayNameFor(model => model.Imagem) </label>
                <div class="col-sm-11">
                    <div class="form-group custom-file">
                        <input asp-for="Imagem" class="custom-file-input" id="customFileLangHTML" lang="pt-BR" />
                        <label class="custom-file-label" for="customFileLangHTML" data-browse="Anexar" >Escolha a imagem</label>
                        <span asp-validation-for="Imagem" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.TextAreaFor(m => m.Content, new { rows = "80", style = "resize:none;width:400px;", placeholder = Html.DisplayNameFor(m => m.Content), @class = "form-control input-lg textarea-editor" })
            </div>
        }
    </div>
</div>

@*https://summernote.org/getting-started/#simple-example*@
@section Scripts
{
<script type="text/javascript">
    $(document).ready(function() {

        console.log("Carregou");
        $('#Content').summernote({
            tabsize: 5,
            height: 340
        });

        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });

    });
</script>
}