@model MeninoDev.Entidades.Post

@{
    ViewData["Title"] = "Novo";
}

<h4>Post</h4>
<hr />

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Form", "Post", FormMethod.Post))
        {
            <div class="form-group">
                @Html.DisplayNameFor(model => model.Title)
                @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
            </div>
            <div class="form-group">
                @*@Html.DisplayNameFor(model => model.Content)
                    @Html.EditorFor(model => model.Content)
                    @Html.ValidationMessageFor(model => model.Content)*@

                @Html.TextAreaFor(m => m.Content, new { rows = "20", style = "resize:none;width:400px;", placeholder = Html.DisplayNameFor(m => m.Content), @class = "form-control input-lg textarea-editor" })

            </div>
            <div class="form-group">
                <input type="submit" value="Adicionar" class="btn btn-primary" />
            </div>
        }
    </div>
</div>

<div>
    @Html.ActionLink("Voltar", "Index", "Post", null, new { @class = "btn btn-primary btn-large" })
</div>

@*https://summernote.org/getting-started/#simple-example*@
@section Scripts
{
    <script>
        $(document).ready(function() {

            console.log("Carregou");
            $('#Content').summernote();
        });
    </script>
}