@model IEnumerable<MeninoDev.Entidades.Post>

@{
    ViewData["Title"] = "Posts";
}

@{

    if (TempData["Sucesso"] != null)
    {
        <div class="alert alert-success">
            @TempData["Sucesso"]
        </div>
    }

    if (TempData["Error"] != null)
    {
        <div class="alert alert-danger">
            @TempData["Error"]
        </div>
    }

    if (TempData["Exclusao"] != null)
    {
        <div class="alert alert-success">
            @TempData["Exclusao"]
        </div>
    }
}

<p>
    @Html.ActionLink("Novo", "Form", "Post", null, new { @class = "btn btn-primary btn-large" })
</p>

@foreach (var item in Model.OrderByDescending(m => m.Id))
{
    <div class="row mb-2">
        <div class="col-md-12">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div id="@Html.DisplayFor(modelItem => item.Id)" class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">Categoria</strong>
                    <h3 class="mb-0">
                        @Html.DisplayFor(modelItem => item.Title)
                    </h3>
                    <div class="mb-1 text-muted">
                        @Html.DisplayFor(modelItem => item.Date)
                    </div>
                    <p class="card-text mb-auto">
                        @Html.DisplayFor(modelItem => item.Content)
                    </p>

                    @Html.ActionLink("Continue reading", "Read", "Post", new { Id = @item.Id }, new { @class = "stretched-link" })
                </div>
            </div>
        </div>
    </div>
}